<h1>
  {{title}} {{show}} not now or ever {{show}}
</h1>
<h2 *myNgIf="show">This is to be shown</h2>

<!--<p *bnLoop="#i from lowerBound to upperBound step increment ; #first = first ; #last = last ;" [lifeCycleLabel]="i">
  {{ i }}
  <span *ngIf="first">- First</span>
  <span *ngIf="last">- Last</span>
</p>-->

<p *bnLoop="let i from lowerbound to upperbound step increment; let first = first; let last = last; let middle = middle;">
  <a href="javascript:void(0)" (click)="setFrom(i)">
    {{i}}
   <span *ngIf="first ">First</span>
   <span *ngIf="last ">Last</span>
   <span *ngIf="middle ">Middle</span>
   
   </a>
</p>


<!--<p *bnLoop="let i from lowerbound to upperbound step increment; let first = first; let last = last;">
  <a href="javascript:void(0)" (click)="setTo(i)">
    {{i}}
   <span *ngIf="first ">First</span>
   <span *ngIf="last ">Last</span>
   
   </a>
</p>-->